$black: #000;
$blue: #1f7AFF;
$green: #77D55A;
$purple: #9552EF;
$red: #E64545;
$white: #FFF;
$yellow: #FFB700;

/* ---------- Base Styles ---------- */

body {
	background: #F4F8FF;
	color: #233240;
}

path {
	fill: $blue;
	stroke-width: 0.25px;
	stroke: #233240;
}

.img-container {
	border-radius: 50%;
	height: 240px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	text-align: right;
	width: 240px;

	img {
		height: 240px;
		margin-left: -40px;
		width: auto;
	}
}

.has-danger {
	.form-control {
		border-width: 1px solid $red;
	}

	.form-control-label {
		color: $red;
	}

	.text-muted {
		color: $red;
	}
}

/* ---------- Admin ---------- */

.card {
	display: inline-block;
	width: 33%;
}

.card-img-top {
	width: 100%;
}

/* ---------- Display Page---------- */

.display-page {
	.map-container {
		height: 475px;
		overflow: hidden;
		padding: 0;
	}
}

.flag-container {
	.flag {
		display: inline-block;
		margin: 0 0 -24px 0;
		overflow: hidden;
	}
}

.liferay-office {
	fill: rgba($black, 0.7);
	stroke: #233240;
	stroke-width: 0.5px;
	font-family: 'FontAwesome';
}

.statistics {
	border-radius: 10px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
	color: $white;
	padding: 12px 20px 6px 20px;
	box-sizing: border-box;

	&.snapshot {
		background-color: $yellow;
		margin-top: 20px;

		.attendee-details {
			span{
				font-weight: 600;
				padding-right: 12px;
			}
		}

		.img-container {
			height: 200px;
			width: 200px;

			img {
				height: 200px;
			}
		}
	}

	&.flags {
		background-color: $green;
		margin-top: 20px;
		padding-bottom: 24px;
	}

	&.gender-breakdown {
		background-color: $red;
		display: flex;
		flex-wrap: wrap;

		div:first-child {
			flex: 1 0 100%;
		}
	}

	&.study-breakdown {
		background-color: $green;
		overflow: hidden;

		.bar-container {
			margin-bottom: 10px;
			display: flex;
		}

		.bar {
			background-color: $white;
			border-radius: 10px;
			flex: 1;
			color: #233240;
			overflow: hidden;
			padding-left: 12px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.total {
			padding-left: 4px;
		}
	}

	&.two {
		background-color: $purple;
	}

	&.skills-breakdown {
		background-color: $blue;
	}
}

/* ---------- Form ---------- */

.form-page {
	padding: 30px;

	.recruits-container {
		padding: 100px 0;
	}
}

.form-control {
	border-width: 0;
	color: #233240;
}

.form-group {
	padding: 0 20px;
}

input[type="radio"] {
	margin-right: 4px;
}

h3 {
	&.skills-group {
		color: $yellow;
	}

	&.education {
		color: $green;
	}

	&.elsewhere {
		color: $red;
	}

	&.personal {
		color: $blue;
	}

	&.admin-only {
		color: $purple;
	}
}

.text-muted {
	color: $white;
	margin-left: 4px;
}

.photo-booth {
	margin-bottom: 30px;
	text-align: center;

	.video-container {
		background-color: #000;
		border-radius: 50%;
		height: 240px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 240px;
	}

	canvas, video {
		margin-left: -40px;
	}
}

.secondary-info {
	margin-top: 20px;
}

.skills-input {
	border-width: 0;
	width: auto;

	&:focus {
		outline-width: 0;
	}
}

.pill {
	background-color: $white;
	border-radius: 12px;
	border: 1px solid;
	color: #999;
	display: inline-block;
	margin-right: 8px;
	padding: 4px;

	> span {
		color: #999;
		max-width: 150px;
		padding: 4px;
		vertical-align: middle;
	}

	.close {
		color: #999;
		float: none;
		padding: 0 2px;
		vertical-align: top;

		> span {
			pointer-events: none;
		}
	}
}

.btn-holder {
	margin: 20px 0;
	text-align: center;

	.btn {
		min-width: 200px;
	}
}

.admin-only.row {
	margin: 30px 0;
}

.form-card {
	border-radius: 10px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
	color: $white;
	padding: 12px 20px 6px 20px;
	box-sizing: border-box;

	&.skills-group {
		background-color: $yellow;
	}

	&.education {
		background-color: $green;
	}

	&.elsewhere {
		background-color: $red;
	}

	&.personal {
		background-color: $blue;
	}

	&.admin-only {
		background-color: $purple;
		overflow: hidden;

		.col-md-8, .col-md-4 {
			padding: 0 4px;
		}

		.col-md-4 {
			padding-left: 20px;
		}

		.form-group {
			padding: 0;
		}
	}
}

.contact-me {
	margin-top: 20px;
}